In [8]:
import pandas as pd

# Create a sample DataFrame
data = {
    'Name': ['John', 'Alice', 'Bob'],
    'Age': [25, 28, 32],
    'Country': ['USA', 'Canada', 'UK']
}

df = pd.DataFrame(data)

# Define a function to apply the styling
def highlight_min(s):
    is_min = s == s.min()
    return ['color: purple' if v else '' for v in is_min]

# Apply the styling using apply()
styled_df = df.style.apply(highlight_min, subset=['Age'])

# Display the styled DataFrame
styled_df